.submit-form .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.submit-form form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  margin-bottom: 25px;
}

.submit-form form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.submit-form form .btn-primary:hover, .submit-form form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.submit-form form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.submit-form form .forgot:hover, .submit-form form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.submit-form form .btn-primary:active {
  transform:translateY(1px);
}

