#!/usr/bin/env python3
# -*- coding: utf-8 -*-

def serviceone(address, port):
    return True

def servicetwo(address, port):
    return True

# !! Not delete the following code.
class ServicesUP:
    def __init__(self):
        functions = [f for fname, f in sorted(globals().items()) if callable(f)]
        self.servicesup = {}
        for function in functions:
            name = str(function.__name__).lower()
            if name.lower() != "servicesup":
                self.servicesup[name] = function